interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
      \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\
      ><soap:Body><AuthorizeTransaction xmlns=\"https://www.pagador.com.br/webservice/pagador\"\
      ><request><RequestId>782a56e2-2dae-11e2-b3ee-080027d29772</RequestId><Version>1.1</Version><OrderData><MerchantId>F9B44052-4AE0-E311-9406-0026B939D54B</MerchantId><OrderId>2cf84e51-c45b-45d9-9f64-554a6e088668</OrderId><BraspagOrderId\
      \ xsi:nil=\"true\" /></OrderData><CustomerData><CustomerIdentity>12345678900</CustomerIdentity><CustomerName>Jos\xE9\
      \ da Silva</CustomerName><CustomerEmail>jose123@dasilva.com.br</CustomerEmail><CustomerAddressData\
      \ xsi:nil=\"true\" /><DeliveryAddressData xsi:nil=\"true\" /></CustomerData><PaymentDataCollection><PaymentDataRequest\
      \ xsi:type=\"CreditCardDataRequest\"><PaymentMethod>997</PaymentMethod><Amount>100000</Amount><Currency>BRL</Currency><Country>BRA</Country><NumberOfPayments>3</NumberOfPayments><PaymentPlan>1</PaymentPlan><TransactionType>1</TransactionType><CardHolder>Jose\
      \ da Silva</CardHolder><CardNumber>0000000000000001</CardNumber><CardExpirationDate>05/2018</CardExpirationDate><SaveCreditCard>true</SaveCreditCard><CardSecurityCode>123</CardSecurityCode><AdditionalDataCollection\
      \ xsi:nil=\"true\" /></PaymentDataRequest></PaymentDataCollection></request></AuthorizeTransaction></soap:Body></soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    method: POST
    uri: https://transactionsandbox.pagador.com.br/webservice/pagadorTransaction.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AuthorizeTransactionResponse
        xmlns="https://www.pagador.com.br/webservice/pagador"><AuthorizeTransactionResult><CorrelationId>782a56e2-2dae-11e2-b3ee-080027d29772</CorrelationId><Success>true</Success><ErrorReportDataCollection
        /><OrderData><OrderId>2cf84e51-c45b-45d9-9f64-554a6e088668</OrderId><BraspagOrderId>d7cf86a0-b061-415a-bfcc-68eb19ede90a</BraspagOrderId></OrderData><PaymentDataCollection><PaymentDataResponse
        xsi:type="CreditCardDataResponse"><BraspagTransactionId>2f79d7db-1d47-4950-9a47-e485acdee5e2</BraspagTransactionId><PaymentMethod>997</PaymentMethod><Amount>100000</Amount><AcquirerTransactionId>1025113930130</AcquirerTransactionId><AuthorizationCode>641533</AuthorizationCode><ReturnCode>4</ReturnCode><ReturnMessage>Operation
        Successful</ReturnMessage><Status>1</Status><CreditCardToken>691302e7-25fb-4eea-aa71-5b71ef239fef</CreditCardToken><ProofOfSale>3930130</ProofOfSale><MaskedCreditCardNumber>000000******0001</MaskedCreditCardNumber></PaymentDataResponse></PaymentDataCollection></AuthorizeTransactionResult></AuthorizeTransactionResponse></soap:Body></soap:Envelope>'}
    headers:
    - !!python/tuple
      - Request-Context
      - ['appId=cid-v1:f2b4fc3b-1105-4562-b6c2-5fb9af7ccd01']
    - !!python/tuple
      - X-Aspnet-Version
      - [4.0.30319]
    - !!python/tuple
      - Set-Cookie
      - [ARRAffinity=489e6003bd5abdb90bffb61b6c62a4173feedaba9f21123c4fda4adcaade9fed;Path=/;Domain=transactionsandbox.pagador.com.br]
    - !!python/tuple
      - X-Powered-By
      - [ASP.NET, ARR/3.0]
    - !!python/tuple
      - Content-Length
      - ['1316']
    - !!python/tuple
      - Server
      - [Microsoft-IIS/10.0]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['private, max-age=0']
    - !!python/tuple
      - Date
      - ['Fri, 26 Oct 2018 02:39:29 GMT']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - Content-Type
      - [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
    url: https://transactionsandbox.pagador.com.br/webservice/pagadorTransaction.asmx
- request:
    body: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><GetTransactionData
      xmlns="https://www.pagador.com.br/query/pagadorquery"><transactionDataRequest><RequestId>772f1c89-a9f3-42f6-8540-6f0f4d0d4846</RequestId><Version>1.1</Version><MerchantId>F9B44052-4AE0-E311-9406-0026B939D54B</MerchantId><BraspagTransactionId>2f79d7db-1d47-4950-9a47-e485acdee5e2</BraspagTransactionId></transactionDataRequest></GetTransactionData></soap:Body></soap:Envelope>'
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    method: POST
    uri: https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetTransactionDataResponse
        xmlns="https://www.pagador.com.br/query/pagadorquery"><GetTransactionDataResult><CorrelationId>772f1c89-a9f3-42f6-8540-6f0f4d0d4846</CorrelationId><Success>true</Success><ErrorReportDataCollection
        /><BraspagTransactionId>2f79d7db-1d47-4950-9a47-e485acdee5e2</BraspagTransactionId><OrderId>2cf84e51-c45b-45d9-9f64-554a6e088668</OrderId><AcquirerTransactionId>1025113930130</AcquirerTransactionId><PaymentMethod>997</PaymentMethod><PaymentMethodName>Simulado</PaymentMethodName><Amount>100000</Amount><AuthorizationCode>641533</AuthorizationCode><NumberOfPayments>3</NumberOfPayments><Currency>BRL</Currency><Country>BRA</Country><TransactionType>1</TransactionType><Status>2</Status><ReceivedDate>10/25/2018
        11:39:29 PM</ReceivedDate><CreditCardToken>691302e7-25fb-4eea-aa71-5b71ef239fef</CreditCardToken><ProofOfSale>3930130</ProofOfSale><MaskedCardNumber>000000******0001</MaskedCardNumber></GetTransactionDataResult></GetTransactionDataResponse></soap:Body></soap:Envelope>'}
    headers:
    - !!python/tuple
      - Request-Context
      - ['appId=cid-v1:ecbab492-e2d4-4be8-85fd-d16db40c874d']
    - !!python/tuple
      - X-Aspnet-Version
      - [4.0.30319]
    - !!python/tuple
      - Set-Cookie
      - [ARRAffinity=489e6003bd5abdb90bffb61b6c62a4173feedaba9f21123c4fda4adcaade9fed;Path=/;Domain=transactionsandbox.pagador.com.br]
    - !!python/tuple
      - X-Powered-By
      - [ASP.NET, ARR/3.0]
    - !!python/tuple
      - Content-Length
      - ['1221']
    - !!python/tuple
      - Server
      - [Microsoft-IIS/10.0]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['private, max-age=0']
    - !!python/tuple
      - Date
      - ['Fri, 26 Oct 2018 02:39:29 GMT']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - Content-Type
      - [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
    url: https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx
version: 1
