interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
      \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\
      ><soap:Body><AuthorizeTransaction xmlns=\"https://www.pagador.com.br/webservice/pagador\"\
      ><request><RequestId>782a56e2-2dae-11e2-b3ee-080027d29772</RequestId><Version>1.1</Version><OrderData><MerchantId>F9B44052-4AE0-E311-9406-0026B939D54B</MerchantId><OrderId>2cf84e51-c45b-45d9-9f64-554a6e088668</OrderId><BraspagOrderId\
      \ xsi:nil=\"true\" /></OrderData><CustomerData><CustomerIdentity>12345678900</CustomerIdentity><CustomerName>Jos\xE9\
      \ da Silva</CustomerName><CustomerEmail>jose123@dasilva.com.br</CustomerEmail><CustomerAddressData\
      \ xsi:nil=\"true\" /><DeliveryAddressData xsi:nil=\"true\" /></CustomerData><PaymentDataCollection><PaymentDataRequest\
      \ xsi:type=\"CreditCardDataRequest\"><PaymentMethod>997</PaymentMethod><Amount>100000</Amount><Currency>BRL</Currency><Country>BRA</Country><NumberOfPayments>1</NumberOfPayments><PaymentPlan>0</PaymentPlan><TransactionType>1</TransactionType><CardHolder>Jose\
      \ da Silva</CardHolder><CardNumber>0000000000000001</CardNumber><CardExpirationDate>05/2018</CardExpirationDate><SaveCreditCard>true</SaveCreditCard><CardSecurityCode>123</CardSecurityCode><AdditionalDataCollection\
      \ xsi:nil=\"true\" /></PaymentDataRequest></PaymentDataCollection></request></AuthorizeTransaction></soap:Body></soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    method: POST
    uri: https://transactionsandbox.pagador.com.br/webservice/pagadorTransaction.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AuthorizeTransactionResponse
        xmlns="https://www.pagador.com.br/webservice/pagador"><AuthorizeTransactionResult><CorrelationId>782a56e2-2dae-11e2-b3ee-080027d29772</CorrelationId><Success>true</Success><ErrorReportDataCollection
        /><OrderData><OrderId>2cf84e51-c45b-45d9-9f64-554a6e088668</OrderId><BraspagOrderId>c8300a5f-2f53-48b7-8f92-5e0a041cc019</BraspagOrderId></OrderData><PaymentDataCollection><PaymentDataResponse
        xsi:type="CreditCardDataResponse"><BraspagTransactionId>f08c67bf-bf74-47a9-ad3d-754786122a00</BraspagTransactionId><PaymentMethod>997</PaymentMethod><Amount>100000</Amount><AcquirerTransactionId>1025112523870</AcquirerTransactionId><AuthorizationCode>236266</AuthorizationCode><ReturnCode>4</ReturnCode><ReturnMessage>Operation
        Successful</ReturnMessage><Status>1</Status><CreditCardToken>42ee9eca-7496-452e-9f46-8be915f783b1</CreditCardToken><ProofOfSale>2523870</ProofOfSale><MaskedCreditCardNumber>000000******0001</MaskedCreditCardNumber></PaymentDataResponse></PaymentDataCollection></AuthorizeTransactionResult></AuthorizeTransactionResponse></soap:Body></soap:Envelope>'}
    headers:
    - !!python/tuple
      - Request-Context
      - ['appId=cid-v1:f2b4fc3b-1105-4562-b6c2-5fb9af7ccd01']
    - !!python/tuple
      - X-Aspnet-Version
      - [4.0.30319]
    - !!python/tuple
      - Set-Cookie
      - [ARRAffinity=489e6003bd5abdb90bffb61b6c62a4173feedaba9f21123c4fda4adcaade9fed;Path=/;Domain=transactionsandbox.pagador.com.br]
    - !!python/tuple
      - X-Powered-By
      - [ASP.NET, ARR/3.0]
    - !!python/tuple
      - Content-Length
      - ['1316']
    - !!python/tuple
      - Server
      - [Microsoft-IIS/10.0]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['private, max-age=0']
    - !!python/tuple
      - Date
      - ['Fri, 26 Oct 2018 02:25:23 GMT']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - Content-Type
      - [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
    url: https://transactionsandbox.pagador.com.br/webservice/pagadorTransaction.asmx
- request:
    body: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><GetBraspagOrderId
      xmlns="https://www.pagador.com.br/query/pagadorquery"><braspagOrderIdDataRequest><RequestId>4d0aea6b-5ff2-47e7-946f-159569b28f8f</RequestId><Version>1.0</Version><MerchantId>F9B44052-4AE0-E311-9406-0026B939D54B</MerchantId><BraspagTransactionId>f08c67bf-bf74-47a9-ad3d-754786122a00</BraspagTransactionId></braspagOrderIdDataRequest></GetBraspagOrderId></soap:Body></soap:Envelope>'
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    method: POST
    uri: https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><GetBraspagOrderIdResponse
        xmlns="https://www.pagador.com.br/query/pagadorquery"><GetBraspagOrderIdResult><CorrelationId>4d0aea6b-5ff2-47e7-946f-159569b28f8f</CorrelationId><Success>true</Success><ErrorReportDataCollection
        /><BraspagOrderId>c8300a5f-2f53-48b7-8f92-5e0a041cc019</BraspagOrderId></GetBraspagOrderIdResult></GetBraspagOrderIdResponse></soap:Body></soap:Envelope>'}
    headers:
    - !!python/tuple
      - Request-Context
      - ['appId=cid-v1:ecbab492-e2d4-4be8-85fd-d16db40c874d']
    - !!python/tuple
      - X-Aspnet-Version
      - [4.0.30319]
    - !!python/tuple
      - Set-Cookie
      - [ARRAffinity=489e6003bd5abdb90bffb61b6c62a4173feedaba9f21123c4fda4adcaade9fed;Path=/;Domain=transactionsandbox.pagador.com.br]
    - !!python/tuple
      - X-Powered-By
      - [ASP.NET, ARR/3.0]
    - !!python/tuple
      - Content-Length
      - ['594']
    - !!python/tuple
      - Server
      - [Microsoft-IIS/10.0]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['private, max-age=0']
    - !!python/tuple
      - Date
      - ['Fri, 26 Oct 2018 02:25:25 GMT']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - Content-Type
      - [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
    url: https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx
- request:
    body: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><GetCustomerData
      xmlns="https://www.pagador.com.br/query/pagadorquery"><customerDataRequest><RequestId>1bad332b-1492-4375-a709-f8cc6e5efb2b</RequestId><Version>1.0</Version><MerchantId>F9B44052-4AE0-E311-9406-0026B939D54B</MerchantId><BraspagOrderId>c8300a5f-2f53-48b7-8f92-5e0a041cc019</BraspagOrderId></customerDataRequest></GetCustomerData></soap:Body></soap:Envelope>'
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    method: POST
    uri: https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"\
        http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetCustomerDataResponse\
        \ xmlns=\"https://www.pagador.com.br/query/pagadorquery\"><GetCustomerDataResult><CorrelationId>1bad332b-1492-4375-a709-f8cc6e5efb2b</CorrelationId><Success>true</Success><ErrorReportDataCollection\
        \ /><CustomerIdentity>12345678900</CustomerIdentity><CustomerName>Jos\xE9\
        \ da Silva</CustomerName><CustomerEmail>jose123@dasilva.com.br</CustomerEmail><Street\
        \ /><Number /><Complement /><District /><ZipCode /><City /><State /><Country\
        \ /></GetCustomerDataResult></GetCustomerDataResponse></soap:Body></soap:Envelope>"}
    headers:
    - !!python/tuple
      - Request-Context
      - ['appId=cid-v1:ecbab492-e2d4-4be8-85fd-d16db40c874d']
    - !!python/tuple
      - X-Aspnet-Version
      - [4.0.30319]
    - !!python/tuple
      - Set-Cookie
      - [ARRAffinity=489e6003bd5abdb90bffb61b6c62a4173feedaba9f21123c4fda4adcaade9fed;Path=/;Domain=transactionsandbox.pagador.com.br]
    - !!python/tuple
      - X-Powered-By
      - [ASP.NET, ARR/3.0]
    - !!python/tuple
      - Content-Length
      - ['746']
    - !!python/tuple
      - Server
      - [Microsoft-IIS/10.0]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['private, max-age=0']
    - !!python/tuple
      - Date
      - ['Fri, 26 Oct 2018 02:25:25 GMT']
    - !!python/tuple
      - X-Frame-Options
      - [SAMEORIGIN]
    - !!python/tuple
      - Content-Type
      - [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
    url: https://transactionsandbox.pagador.com.br/services/pagadorQuery.asmx
version: 1
