interactions:
- request:
    body: "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\
      \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"\
      ><soap:Body><SaveCreditCard xmlns=\"http://www.cartaoprotegido.com.br/WebService/\"\
      ><saveCreditCardRequestWS><MerchantKey>7E5B3E1F-AB80-4E4A-B00F-9297C99D211C</MerchantKey><CustomerIdentification>1</CustomerIdentification><CustomerName>Jos\xE9\
      \ da Silva</CustomerName><CardHolder>Jose da Silva</CardHolder><CardNumber>0000000000000001</CardNumber><CardExpiration>05/2018</CardExpiration><JustClickAlias>XPTO</JustClickAlias><DataCollection></DataCollection></saveCreditCardRequestWS></SaveCreditCard></soap:Body></soap:Envelope>"
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    method: POST
    uri: https://cartaoprotegidosandbox.braspag.com.br/V2/cartaoprotegido.asmx
  response:
    body: {string: !!python/unicode '<?xml version="1.0" encoding="utf-8"?><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><SaveCreditCardResponse
        xmlns="http://www.cartaoprotegido.com.br/WebService/"><SaveCreditCardResult><Success>false</Success><CorrelationId
        xsi:nil="true" /><ErrorReportCollection><ErrorReport><ErrorCode>749</ErrorCode><ErrorMessage>JustClick
        alias already exists</ErrorMessage></ErrorReport></ErrorReportCollection><JustClickKey>00000000-0000-0000-0000-000000000000</JustClickKey></SaveCreditCardResult></SaveCreditCardResponse></soap:Body></soap:Envelope>'}
    headers:
    - !!python/tuple
      - Content-Length
      - ['674']
    - !!python/tuple
      - X-Powered-By
      - [ASP.NET, ARR/3.0]
    - !!python/tuple
      - Server
      - [Microsoft-IIS/10.0]
    - !!python/tuple
      - Connection
      - [close]
    - !!python/tuple
      - Cache-Control
      - ['private, max-age=0']
    - !!python/tuple
      - Date
      - ['Fri, 26 Oct 2018 02:38:33 GMT']
    - !!python/tuple
      - Content-Type
      - [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
    url: https://cartaoprotegidosandbox.braspag.com.br/V2/cartaoprotegido.asmx
version: 1
